/* 重置 标签风格统一 */
@import './normalize.css';

/* 对页面初始化设置 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 根元素 相当于创建css的变量 */
:root {
  --color-text: #4c4948;
  /* 高亮 */
  --color-high-text: rgb(128, 200, 248);
  /* 背景颜色 > 导航 */
  --color-tint: #4c4948;
  /* 背景色 */
  --color-background: #fff;
  --box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
  --font-size: 14px;
  --line-height: 1.5;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Lato,
    Roboto, PingFang SC, Microsoft YaHei, sans-serif !important;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: var(--color-background);
  color: var(--color-text);
  width: 100vw;
}

a {
  color: var(--color-tint);
  text-decoration: none;
}
hr {
  margin: 40px auto;
  border: 2px dashed #d2ebfd;
  width: calc(100% - 4px);
}

/* 清除浮动 */
.clear-fix::after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clear-fix {
  zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont'; /* Project id 3600780 */
  src: url('//at.alicdn.com/t/c/font_3600780_19j2x3ulhbz.woff2?t=1662522194531')
      format('woff2'),
    url('//at.alicdn.com/t/c/font_3600780_19j2x3ulhbz.woff?t=1662522194531')
      format('woff'),
    url('//at.alicdn.com/t/c/font_3600780_19j2x3ulhbz.ttf?t=1662522194531')
      format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
